/* Import PS Font */

@font-face {
    font-family: 'slim_playregular';
    src: url('/assets/fonts/slimplay-d1gr-webfont.woff2') format('woff2'),
         url('/assets/fonts/slimplay-d1gr-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sans_reg';
    src: url('/assets/fonts/OpenSans-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sans_bold';
    src: url('/assets/fonts/OpenSans-Bold.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
}


html{
    overflow-x: hidden;
}
body{
    background-color: #006FCD;
}
.home-header{
    color: white;
    font-family: 'slim_playregular';
    margin-top: 7px;
}
.main-body-content{
    margin-top: 150px;
}
.game-titles{
    font-family: 'open_sans_reg';
}
.game-card{
    text-align: center;
}
.black-bg{
    background-color: black;
}
.footer-header{
    color: white;
}