/* Import PS Font */

@font-face {
    font-family: 'slim_playregular';
    src: url('/assets/fonts/slimplay-d1gr-webfont.woff2') format('woff2'),
         url('/assets/fonts/slimplay-d1gr-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansregular';
    src: url('/assets/fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('/assets/fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansbold';
    src: url('/assets/fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('/assets/fonts/opensans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


html{
    overflow-x: hidden;
}
body{
    background-color: #006FCD;
}
.margin-top-50{
    margin-top: 50px;
}
.home-header{
    color: white;
    font-family: 'slim_playregular';
    margin-top: 7px;
}
.main-body-content{
    width: 50%;
    margin: 0 auto;
}
.margin-top-150{
    margin-top: 150px;
}
.game-titles{
    position: absolute;
    font-size: .7rem;
    padding: 5px;
}
.game-attr{
    position: relative;
    margin-top: 60px;
    font-size: .7rem;
    padding-left: 5px;
    color: #7F7F7F;
}
.game-cons{
    font-size: .7rem;
    padding-left: 5px;
    color: #7F7F7F;
}
.game-price{
    font-size: .8rem;
    color: #C6C6C6;
    background-color: #3D3D3D;
    padding: 5px;
}
.game-image{
    width: 130px;
}
.game-card{
    width: 130px;
    height: 310px;    
    text-align: center;
    background: #232323;
    max-height: 237px;
    margin: 0 auto;
    color: white;
    text-align: left;
    font-family: 'open_sansregular'
}
.black-bg{
    background-color: black;
}
.footer-header{
    color: white;
}