/* Import PS Font */

@font-face {
    font-family: 'slim_playregular';
    src: url('/assets/fonts/slimplay-d1gr-webfont.woff2') format('woff2'),
         url('/assets/fonts/slimplay-d1gr-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansregular';
    src: url('/assets/fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('/assets/fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansbold';
    src: url('/assets/fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('/assets/fonts/opensans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


html{
    overflow-x: hidden;
}
body{
    background-color: #0e6cc4;
}
.margin-top-50{
    margin-top: 50px;
}
.main-body-content{
    width: 50%;
    margin: 0 auto;
}
.margin-top-150{
    margin-top: 150px;
}
.game-titles{
    position: absolute;
    font-size: .7rem;
    padding: 5px;
}
.game-attr{
    position: relative;
    margin-top: 60px;
    font-size: .7rem;
    padding-left: 5px;
    color: #7F7F7F;
}
.game-cons{
    font-size: .7rem;
    padding-left: 5px;
    color: #7F7F7F;
}
.game-price{
    font-size: .8rem;
    color: #C6C6C6;
    background-color: #3D3D3D;
    padding: 5px;
}
.game-image{
    width: 130px;
}
.game-card{
    width: 130px;
    height: 310px;    
    text-align: center;
    background: #232323;
    max-height: 237px;
    margin: 0 auto;
    color: white;
    text-align: left;
    font-family: 'open_sansregular'
}
.favBtn {
    position: absolute;
    display: inline-block;
    width: 30px;
    height: 30px;
    top: 47%;
    left: 65%;
    overflow: hidden;
    transition: transform 1s; /* Added */
}
.favBtn::before {
    transform: rotate(0deg);
}
  
.favBtn::after {
    transform: rotate(90deg);
}
.favBtn::before,
.favBtn::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 50%;
  top: 45%;
  left: 26%;
  background: #C6C6C6;
  transition-property: transform;
  transition-duration: 1s;
}
.favBtn:hover{
    cursor: pointer;
}
.black-bg{
    background-color: black;
}
.footer-header{
    color: white;
}
.rotate {
    transform: rotate(135deg);
}
#navtop{
    display: inline-block;
    font-family: 'open_sansregular';
    width: 100%;
    height: 34px;
    font-size: 20px;
    margin-top: 7px;
}
#navtop a{
    color: white;   
    padding: 20px;
}
.home-header{
    position: absolute;
    font-family: 'slim_playregular';
    font-size: 30px;
    top: -26px;
    left: 77px;
}
#navtop a:hover{
    text-decoration: none;
}
.consoles{
    display: inline-block;
    width: 100px;
    color: white;
    padding-bottom: 22px;
}
.cons-list{
    display: none;
    position: absolute;
    width: 100px;
    height: 160px;
    overflow: hidden;
    color: white;
    z-index: 2;
}
.consoles:hover .cons-list{
    display: block;
}
#navtop ul{
    list-style-type: none;
    margin: 0;  
    padding: 0;
}
#navtop li{
    height: 40px;
    margin: 0;
    margin-left: -15px;
    padding: 0;
    padding-top: 5px;
    width: 100px;
}
#navtop li a{
    margin: 0;
    padding: 15px 0;
}
#navtop li:hover{
    background-color: #3D3D3D;
}
.pagination{
    position: relative;
    top: 100px;
    width: 300px;
    text-align: center;
    list-style-type: none;
    margin: 0 auto;  
    padding: 0;
    background: #232323;
}

.pagination li{
    margin: auto;
    color: white;
    width: 1fr;
    padding: 15px;
}
.hidden{
    display: block;
}